
/* Page Container */
.pageContainer {
  margin: 0 10vw;
  padding-top: 100px;
}

/* About Section */
.aboutContainer {
  display: grid;
  column-gap: 2rem;
  row-gap: -20px;
  grid-template-columns: 0.3fr 0.7fr;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 2rem;
}

.aboutLeft {
  text-align: right;
  font-weight: 700;
  margin: 8px
}

.aboutRight {
  text-align: left;
  line-height: 140%;
  margin: 5px
}

.aboutNote {
  font-size: 0.75rem;
  color: #B52E2B;
  margin-left: 0.3rem;
}