@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("Regular");
  font-weight: normal;
  font-style: normal;
}

/* Background Color */
:root[data-mantine-color-scheme='dark'] {
  --mantine-color-body: #192A2C;
}

:root[data-mantine-color-scheme='light'] {
  --mantine-color-body: var(--mantine-color-white);
}

* body {
  background-color: var(--mantine-color-body);
}