@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), url("/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("Regular");
  font-weight: normal;
  font-style: normal;
}

:root {
}

[data-mantine-color-scheme='dark'] MantineProvider {
    background: #192A2C;
}