/* components/Navbar.module.css */
.navbar {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--mantine-color-body);
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--mantine-color-text);
  text-decoration: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: var(--mantine-color-text);
  font-weight: 500;
  transition: color 0.2s ease;
}

.link:hover {
  color: #B52E2B;
  border-color: #B52E2B;
}

/* .link:selection {
  font-weight: 700;
} */

.toggle {
  margin-left: 0.5rem;
  color: #B52E2B;
  border-color: #B52E2B;
}

.toggle:hover {
  color: #891D1A;
  border-color: #891D1A;
  background-color: #891D1A20;
}

.footer {
  font-family: "Helvetica";
  font-size: 0.9rem;
  text-align: center;
}

.footerSub {
  margin: 0px;
  font-size: 0.8rem;
  color: var(--mantine-color-dark-3);
}

.footer a {
color: #B52E2B;
}

.footer a:hover {
color: #891D1A;
}